html,
body,
p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
}


.grid-container {
    display: grid;
    box-sizing: border-box;
    min-height: 100vh;
      
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr, 3fr; 
}


/* dashboard - left */
#dashboard {
    grid-column: 1/2;
    grid-row: 1/3;
}

#dashboard,
button {
    background-color: hsl(199, 100%, 43%);   
}

#dashboard div {
    margin: 12px 24px;
    padding: 2px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

#dashboard p,
#dashboard svg,
button {
    color: white;
    font-weight: bold;
}

#dashboard > p:first-child {
    font-size:1.2rem;
}



/* header - top */
#header-container,
.main-content-item,
.sidebar-item  
 {
    background-color: white;
 }

#header-container {
    grid-column: 2/4;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    box-shadow: 0 10px 15px -15px black;
    z-index: 1;
    padding-bottom: 10px;
}


#header-container .buttons,
#header-container .search-bar,
#header-container .top-right,
#header-container .title {
    display: flex;
    align-items: center;
}

#header-container .search-bar {
    gap: 20px;
    margin-left: 50px;
}

#search {
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 28px;
}

#header-container .top-right {
    justify-content: end;
    gap: 20px;
    margin-right: 50px;
}

#header-container .title {
    gap: 20px;

    margin-left: 50px;
    font-size: 1.5rem;
    font-weight: bold;
}

#header-container .buttons {
    justify-content: space-between;
    margin-right: 50px;
}


button {
    padding: 10px 30px; 
    border: none;
    border-radius:20px;
    font-size: 18px;
}




/* main */
#main-content-container, 
#sidebar-container, 
#search {
    background-color: hsl(0, 0%, 89%);
}

#main-content-container, 
#sidebar-container {
    padding: 30px 0px;
}

#main-content-container > p,
#sidebar-container > p, 
.sidebar > p {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1rem;
} 

#main-content {   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0 10px;
}

.main-content-item {
    margin: 10px;
    padding: 30px;

    border-radius: 10px;
    border-left: 10px solid hsl(44, 100%, 59%);
    box-shadow: 10px 10px 15px -15px black;
}



.main-content-item p:nth-of-type(2) {
    margin-bottom: 60px;
    color: grey
}

.main-content-item > p:nth-child(1), .sidebar-item div p:nth-child(1) {
    font-weight: bold;
    margin-bottom: 2px;
}




/* side */
#sidebar-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr 0fr 0.5fr;
    padding-right: 10px;
 
}

.sidebar-item {
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px -15px black;    
}

#announcements p:nth-child(1) {
    padding-top: 10px;
}
#announcements p:nth-child(2) {
    color: grey;
    padding-bottom: 10px; 
    border-bottom: 1px solid grey
}

#sidebar-container > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
}

#trending {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#trending div{
    display: flex;
    gap: 20px;
}


/* svg images */
svg {
    height: 30px;
    width: 30px;
    margin: 0 3px;
}

.main-content-svg  {
    text-align: end;
}


#profile-image-l {
    height: 90px;
    width: 90px;
    border-radius: 50px;
    background-color: hsl(55, 92%, 95%) 
}

#profile-image-s{
    height: 55px;
    width: 55px;
    border-radius: 50px;
    background-color: hsl(55, 92%, 95%);
}